
##Lilou-444
##06-01-2019

//page pour s’inscrire en tant que user ( formulaire) 

<!DOCTYPE html>
</html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/public/css/cssformulaire.css" />
    <title>TODOLIST</title>
  </head>
  <body>
  
  <h1>TODOLIST</h1>
  <h2>Inscription</h2>
  <form action="" method="get">
    <p>
      <label for="Fistname" class="left">Firstname :</label> 
      <input name="prenom" id="prenom" type="text" sizÒe="30" maxlength="30" />
    </p>
    <p>
      <label for="username" class="left">lastname :</label> 
      <input name="prenom" id="prenom" type="text" sizÒe="30" maxlength="30" />
    </p>
    <p>
      <label for="username" class="left">Username :</label> 
      <input name="prenom" id="prenom" type="text" sizÒe="30" maxlength="30" />
    </p>
    <p>
      <label for="Fistname" class="left">Email :</label> 
      <input name="prenom" id="prenom" type="text" sizÒe="30" maxlength="30" />
    </p>
      <p>
      <label for="motdepasse" class="left">Password : </label>
      <input name="motdepasse" id="motdepasse" type="password" size="30" maxlength="30" />
    </p>
    <p>
        <label for="updated_at" class="left">Updated : </label>
        <input name="updated_at" id="updated_at" type="tex" size="30" maxlength="30" />
      </p>
      <p>
          <label for="creadted_at" class="left">Created : </label>
          <input name="creadted_at" id="creadted_at" type="text" size="30" maxlength="30" />
        </p>
        <p><input type="submit" value="Soummettre"></p>
      </form>
        <form name="formulaire" action="/todos">
          <button onClick="index.ejs">retour</button>   
      </form>
      </body>
     
</html>
